//== Main Header =====================
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-orange;
  overflow: hidden;
}

.mainNav {
  max-width: 96em;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.mainNav ul  {
  list-style-type: none;
    li {
      display: inline;
      margin-right: 4.90em;
      font-size: $h5-headline;
      font-family: "ProximaNova Regular", Helvetica, sans-serif;
      text-transform: uppercase;
    }
}

.navLinks {
  text-align: center;
}

.navLinks ul li a:hover {
  color: $checklist-green;
}

.mainNav a:visited {
  color: white;
}

ul.navLinks {
  padding: 0;
}

.mainNav hr {
  border-color: white;
}

title {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: $h1-headline;
  color: white;
  margin-top: 24px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.subtitle {
  font-family: "ProximaNova LightIt", Helvetica, sans-serif;
  font-size: 1.5em;
  color: white;
  letter-spacing: 2px;
    p {
      margin-top: 7px;
    }
}

//==== Map Section ====================

section {
  @include outer-container;
  text-align: center;
  margin-top: 4em;
}

.map img {
  width: 55em;
  margin-top: 3em;
}

//==== Resources Section ==============


.resourceLinks img {
  width: 7.25em;
}

.resourceLinks p {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
  margin-top: 5px;
}

.resourceLinks ul {
  padding: 0;
}

.resourceLinks ul li {
  font-family: "ProximaNova Regular", Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin-bottom: 15px;
  background-color: #ccc;
  width: 10.5em;
  height: 1.75em;
  padding-top: .27em;
}

.resourceLinks ul li a:visited {
  color: black;
}

.resourceLinks ul li:hover {
  background-color: $map-green;
    a {
      color: $hover-yellow;
    }
}

article {
  @include span-columns(3 of 12);
  @include shift(2);
}

.adobeLink {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7px;
}

// === Mimeo Link ===============

.mimeoIcon {
  width: 17em;
}

//==== Footer ==================

.footerNav ul {
  list-style-type: none;
  @include outer-container;
  margin-top: 3.5em;

    li {
      display: inline;
      margin-right: 4.90em;
      font-size: $h5-headline;
      font-family: "ProximaNova Regular", Helvetica, sans-serif;
      text-transform: uppercase;
    }
}

footer hr {
  width: 96em;
  border-color: $primary-orange;
}

.footerNav ul li a:hover {
  color: $primary-orange;
}

.footerNav a:visited {
  color: black;
}

div.logos {
  @include span-columns(9);
  @include shift(2)
}

.logos ul {
  list-style-type: none;
  @include omega(4n);
    li {
      display: inline;
      margin-right: 9.5%;
    }
}

div.signoff ul {
  @include span-columns(7);
  @include shift(2);
  list-style-type: none;
  margin-top: 50px;
    li {
      display: inline;
      margin-right: 1em;
    }
}
