//== Main Header =====================


body {
  margin:0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $orange;
  overflow: hidden;
}

.mainNav {
  @include outer-container;
  text-align: center;
  padding-top: 20px;
}

.mainNav ul  {
  list-style-type: none;
    li {
      display: inline;
      margin-right: 2%;
      font-size: $h6-headline;
      font-family: "ProximaNova Semibold", Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
}

.navLinks ul {
  padding: 0;
}

.navLinks {
  text-align: center;
}

.navLinks ul li a:active {
  color: $checklist-green;
}

.mainNav ul li a:visited {
  color: white;
}

.navLinks ul li a:hover {
  color: $checklist-green;
}

.mainNav hr {
  border-color: white;
}

title {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: $h1-headline;
  color: white;
  margin-top: 24px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.subtitle {
  font-family: "ProximaNova LightIt", Helvetica, sans-serif;
  font-size: 1.25em;
  color: white;
  letter-spacing: 2px;
    p {
      margin-top: 7px;
    }
}


//======= Social Icons =================


.social {
  @include outer-container;
  max-width: 62em;

  ul {
    list-style-type: none;
    li {
      display: inline;
      margin-right: .6em;
    }
  }
}

.socialLinks {
  float: right;
}



//==== Map Section ====================


section {
  @include outer-container;
  text-align: center;
  margin-top: 1em;
    h3 {
      margin-bottom: 1.75em;
    }
}

<<<<<<< HEAD
.nationalMap {
  width: 110%;
  height: 649px;
  margin-top: -54px;
  margin-bottom: 75px;
}

.nationalMap:hover {
  -webkit-transition: all 4.7s;
  -moz-transition: all 4.7s;
  -o-transition: all 4.7s;
  -ms-transition: all 4.7s;
  transition: all 4.7s;
}


=======
>>>>>>> master
//==== Book Section ====================



.nationalRes {
  text-align: center;
  margin-top: 4em;

    h3 {
      margin-bottom: .75em;
    }
}

section.books {
  @include outer-container;
  text-align: center;
  margin-top: 4em;
  max-width: 82em;
  height: 33.5em;
}

.book1static {
  @include span-columns(5);
  text-align: right;
  width: 45%;

}


.book2static {
  @include span-columns(5);
  text-align: left;
  width: 45%;
}

.book1static, .book2static {
  margin-top: .125em;
  margin-bottom: 2em;
  margin-left: 45px;
}

.book1static:hover {
  transition: opacity 0.2s 1 ease-in;
}

//==== Resources Section ==============


.resourceLinks img {
  width: 6.2em;
}

.resourcesHide {
  display: none;
}

.pendingRes {
  @include outer-container;
  text-align: center;
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  color: $map-green;
  margin-bottom: 5em;
  margin-top: 3em !important;
}

.resourceLinks p {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 5px;
}

.resourceLinks ul {
  padding: 0;
  width: 18em;
}

.resourceLinks ul li {
  font-family: "ProximaNova Regular", Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin-bottom: 15px;
  background-color: #ccc;
  width: 12.25em;
  height: 1.95em;
  padding-top: .39em;
}

.resourceLinks ul li a:link {
  color: black;
}

.resourceLinks ul li a:visited {
  color: black;
}

.resourceLinks ul li:hover {
  background-color: $map-green;
  a {
    color: $hover-yellow;
  }
}

article {
  @include span-columns(3 of 12);
  @include shift(2);
}

article {
  @include span-columns(3 of 12);
  @include shift(2);
}

.arkansas {
  @include span-columns(3 of 12);
  @include shift(1);
  margin-left: 7%;
}


.ieccResource {
  @include outer-container;
}

.adobeLink {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7px;
}

.memeo {
  margin-top: 4em;
}


// ======== Code Books ============



//==== Footer ==================

.footerNav {
  @include outer-container;
  max-width: 68em;
}

.footerNav ul {
  list-style-type: none;
  margin-top: 3.5em;
  text-align: center;

    li {
      display: inline;
      margin-right: 2%;
      font-size: $h6-headline;
      font-family: "ProximaNova Semibold", Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
  }
}

footer hr {
  width: 100%;
  border-color: $orange;
}

.footerNav ul li a:visited {
  color: black;
}

.footerNav ul li a:hover {
  color: $orange;
}

div.logos {
  @include outer-container;
  text-align: center;
  margin-bottom: 30px;
  padding-left: .021em;
}

.logos ul {
  list-style-type: none;
  @include omega(4n);
    li {
      display: inline;
  }
}

.logos ul a  {
  margin-right: 6.5%;
}

.copyright {
  @include outer-container;
  font-family: "ProximaNova Regular", Helvetica, sans-serif;
  font-size: .8em;
  text-align: center;
  line-height: 18px;
  width: 60%;
  height: 40px;
  margin-bottom: 40px;
}

.copyright a:visited {
    color: black;
}

.copyright a:hover {
  color: $orange;
}



/*

div.hidelogo1, div.hidelogo2, div.hidelogo3,
div.hidelogo4, div.hidelogo5, div.hidelogo6, {
  position: relative;
  display: inline;

  position: absolute;
  //visibility: hidden;
}

div.hidelogo1, {

  left: 20%;
} */
