//== Main Header =====================
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $orange;
  overflow: hidden;
}

.mainNav {
  max-width: 96em;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.mainNav ul  {
  list-style-type: none;
    li {
      display: inline;
      margin-right: 6.2em;
      font-size: $h5-headline;
      font-family: "ProximaNova Regular", Helvetica, sans-serif;
      text-transform: uppercase;
    }
}

.navLinks {
  text-align: center;
}

.navLinks ul li a:hover {
  color: $checklist-green;
}

.mainNav a:visited {
  color: white;
}

ul.navLinks {
  padding: 0;
}

.mainNav hr {
  border-color: white;
}

title {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: $h1-headline;
  color: white;
  margin-top: 24px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.subtitle {
  font-family: "ProximaNova LightIt", Helvetica, sans-serif;
  font-size: 1.5em;
  color: white;
  letter-spacing: 2px;
    p {
      margin-top: 7px;
    }
}

//==== Map Section ====================

section {
  @include outer-container;
  text-align: center;
  margin-top: 4em;
    h3 {
      margin-bottom: -0.25em;
    }
}

.nationalMap img {
  width: 65em;
  margin-top: 3em;
}

map {
  width: 65em;
}

.MEEA {
  area:hover {
    background-image: url(images/map_meea_hover.png);
    width: 65em;
  }
}
//==== Book Section ====================

section.books {
  @include outer-container;
  text-align: center;
  margin-top: 4em;
  max-width: 80em;
}

.book1 {
  @include span-columns(5);
  width: 39em;
  img {
    width: 40em;
  }
}

.book2 {
  @include span-columns(5);
  width: 39em;
  img {
    width: 37em;
  }
}

.book1, .book2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

//==== Resources Section ==============


.resourceLinks img {
  width: 7.25em;
}

.resourceLinks p {
  font-family: "ProximaNova Semibold", Helvetica, sans-serif;
  font-size: 1.75em;
  text-transform: uppercase;
  margin-top: 5px;
}

.resourceLinks ul {
  padding: 0;
}

.resourceLinks ul li {
  font-family: "ProximaNova Regular", Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  margin-bottom: 15px;
  background-color: #ccc;
  width: 10.5em;
  height: 1.75em;
  padding-top: .27em;
}

.resourceLinks ul li a:visited {
  color: black;
}

.resourceLinks ul li:hover {
  background-color: $map-green;
    a {
      color: $hover-yellow;
    }
}

article {
  @include span-columns(3 of 12);
  @include shift(2);
}

.adobeLink {
  @include span-columns(8);
  @include shift(2);
  margin-top: 7px;
}

// === Mimeo Link ===============

.mimeoIcon {
  width: 17em;
}

// ======== Code Books ============



//==== Footer ==================

.footerNav ul {
  list-style-type: none;
  @include outer-container;
  margin-top: 3.5em;
  text-align: center;

    li {
      display: inline;
      margin-right: 4.90em;
      font-size: $h5-headline;
      font-family: "ProximaNova Regular", Helvetica, sans-serif;
      text-transform: uppercase;
    }
}

footer hr {
  width: 96em;
  border-color: $orange;
}

.footerNav ul li a:hover {
  color: $orange;
}

.footerNav ul li a:visited {
  color: black;
}

div.logos {
  @include span-columns(8);
  @include shift(2);
  text-align: center;
  margin-bottom: 30px;
}

.logos ul {
  list-style-type: none;
  @include omega(4n);
    li {
      display: inline;
      margin-right: 10.75%;
    }
}

.social {
    @include outer-container;
    max-width: 91em;

    ul {
      list-style-type: none;
      padding-top: 20px;
        li {
          display: inline;
          margin-right: 1em;
        }
    }
}

.socialLinks {
  float: left;
}

.copyright {
  text-align: right;
  padding-top: 205px;
}

.copyright {
  a:visited {
    color: black;
  }
}

.copyright {
  a:hover {
      color: $orange;
  }
}
