  // ===== Northeast ===========

.northeastMapNE {
  @include span-columns(6);
  width: 53%;
}

.regionLogoNE {
  @include span-columns(3);
  @include shift(1);
  padding-left: 30px;
  text-align: right;
  margin-right: 0;

    img {
      width: 5.5em;
  }
}


// ======Maine ============

.note {
    font-family: "ProximaNova RegIt", Helvetica, sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    display: inline;
    @include span-columns(10);
    @include shift(1);
}


// ========= Southeast =============

.southeastMapSE {
  @include span-columns(5);
  width: 64%;
}

.regionLogoSE {
  @include span-columns(3);
  margin-left: 3em;
  img {
    width: 14.6em;
  }
}


// ======= South Central SPEER ===========

.southcentralMap {
  @include span-columns(5);
  width: 46.5%;
}

.regionLogoSC {
  @include span-columns(2);
  @include shift(2);
  margin-right: 0;
  padding-left: 2em;
  img {
    width: 10.6em;
  }
}


.statetitle h3 {
  margin-bottom: .5em;
  margin-top: 67px;
  }

.hideresources {
  display: none;
  transition-duration: 6s;
}

// ================  Midwest MEEA  =================

.regionLogoMW {
  @include span-columns(2);
  @include shift(1);
  margin-right: 72px;

  img {
    width: 14.6em;
  }
}

.midwestMap {
  @include span-columns(5);
  margin-left: 1.8em;
  width: 67%;
}
