// ===== Regional Logo & Map Style ===========

.regionLogo {
  @include span-columns(4);
    img {
      width: 23.25em;
  }
}

.southeastMap {
  @include span-columns(6);
  @include shift(1);
}

.statetitle h3 {
  margin-bottom: .5em;
  }

.stateresources {
  visibility: hidden;
}
